<!-- Footer -->
<footer class="footer">
  <canvas class="footer-wave-canvas" aria-hidden="true"></canvas>
  <div class="footer-content">
    <div class="footer-tagline">
      <h2>Ready to deliver technical results while elevating your team?</h2>
      <div class="footer-cta">
        <a href="mailto:steve.d.pelletier@gmail.com" class="btn dark-button">
          <span class="btn-text">Get In Touch</span>
        </a>
        <a
          href="https://www.linkedin.com/in/stevendpelletier/"
          target="_blank"
          rel="noopener noreferrer"
          class="btn light-button cta-button"
        >
          <span class="btn-text">View LinkedIn</span>
          <span class="btn-icon"
            ><i class="fa-solid fa-arrow-right arrow-icon"></i
          ></span>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-container">
      <div>
        <a href="/" class="footer-logo">
          <img
            src="/logo-white.svg"
            alt="Steven Pelletier Logo"
            class="footer-logo-image"
          />
          <span class="footer-logo-text">Steven Pelletier</span>
        </a>
      </div>
      <div>
        <nav class="footer-nav">
          <a href="mailto:steve.d.pelletier@gmail.com">Email</a>
          <a
            href="https://www.linkedin.com/in/stevendpelletier/"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
          <a
            href="https://github.com/stevendpelletier"
            target="_blank"
            rel="noopener noreferrer"
            >GitHub</a
          >
        </nav>
      </div>
    </div>
    <div class="footer-credits">
      <div class="footer-credits-content">
        <p>Copyright &copy; <span id="year"></span> Steven Pelletier</p>
        <a href="mailto:steve.d.pelletier@gmail.com" class="footer-email"
          >steve.d.pelletier@gmail.com</a
        >
      </div>
    </div>
  </div>
</footer>
